<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dormitory.Properties.Settings.DormitoryConnectionString"
            connectionString="Data Source=ANTON\SQLEXPRESS;Initial Catalog=Dormitory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>