<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dormitory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dormitory.Properties.Settings.DormitoryConnectionString"
            connectionString="Data Source=ANTON\SQLEXPRESS;Initial Catalog=Dormitory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Dormitory.Properties.Settings>
            <setting name="userServerName" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="userServerDatabase" serializeAs="String">
                <value>Dormitory</value>
            </setting>
            <setting name="adminServerName" serializeAs="String">
                <value>WS-10315828\SQLEXPRESS</value>
            </setting>
            <setting name="adminServerDatabase" serializeAs="String">
                <value>DormitoryAdmin</value>
            </setting>
            <setting name="backupsFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="restoreFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="savesIntervalHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savesDurationHours" serializeAs="String">
                <value>30</value>
            </setting>
        </Dormitory.Properties.Settings>
    </userSettings>
</configuration>